spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://localhost:8888

# docker example
# spring.config.import: optional:configserver:http://config-server:8888
