spring:
  application:
    name: payment-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: true
      fail-fast: false
  datasource:
    url: jdbc:postgresql://localhost:5434/paymentdb
    username: paymentuser
    password: paymentpass
  kafka:
    bootstrap-servers: localhost:9094

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/